<a href="https://colab.research.google.com/github/Ick3r/Anal-tica-de-datos/blob/main/libreria_PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#instalar LIBRERIAS
!pip install pandas
!pip install numpy
!pip install matplotlib

In [ ]:
#importar archivos de datos
from google.colab import files
uploaded = files.upload()

Saving file.csv to file.csv

In [ ]:
#importamos la librería: pandas
import pandas as pd
import io

#leamos el contenido del archivo
#df = pd.read_csv(io.BytesIO(uploaded['file.csv']), index_col=2) #definir una columna como indice
df = pd.read_csv('file.csv') #No se define una columna como indice
df.info()
df

#importar archivo desde Github
#url = 'copied_raw_github_link'
#df = pd.read_csv(url)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4555 entries, ('Periodo', 'Trimestre', 'Entidad_Federativa', 'Sexo', 'Poblacion_ocupada_en_la_industria_manufacturera', 'Poblaci n_ocupada') to ('2022', '1', 'Zacatecas', 'Mujeres', '39472', '255761')
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   file    4555 non-null   object
dtypes: object(1)
memory usage: 401.6+ KB

                                                                                                                                                           file
Periodo Trimestre Entidad_Federativa Sexo    Poblacion_ocupada_en_la_industria_manufacturera Poblaci n_ocupada  Tasa_de_ocupaci n_en_la_industria_manufacturera
2005    1         Nacional           Hombres 4384907                                         26597801                                  16.485975660000000000000
                                     Mujeres 2690296                                         14843275                                  18.124679360000000000000
                  Aguascalientes     Hombres 56407                                           246177                                    22.913188480000000000000
                                     Mujeres 28430                                           145656                                    19.518591750000000000000
...                                                                                                                                                         ...
2022    1         Veracruz           Mujeres 107640                                          1190733                                   9.0398099320000000000000
                  Yucat n            Hombres 101992                                          691397                                    14.751582670000000000000
                                     Mujeres 82759                                           478943                                    17.279509250000000000000
                  Zacatecas          Hombres 44105                                           402326                                    10.962503040000000000000
                                     Mujeres 39472                                           255761                                     15.43315830000000000000

[4555 rows x 1 columns]

In [ ]:
#filtros basicos para variables cualitativas
#filtro por objeto
#filtro1= df[df["Entidad_Federativa"] == "Puebla"]
#filtro1

In [ ]:
#filtro por filas
#filtro2= df.iloc[300;302,:]#filas consecutivas
filtro2= df.iloc[[1000,2000,3000],:] #filas no consecutivas
filtro2

In [ ]:
#filtro por columnas
filtro3=df.iloc[:,2:5]#columnas consecutivas
#filtro3=df.iloc[:,(1,4,6)]#columnas no consecutivas #este no salió
filtro3

In [ ]:
#filtro de filas vs columnas
filtro4=df.loc[["Puebla","Durango"],["Poblacion_ocupada_en_la_industria_manufacturera"]]
filtro4 #para aplicar este filtro requiero una columna de indice

In [ ]:
#filtro por cabecera
filtro5= df.head()
filtro5

In [ ]:
#FILTROS BASICOS PARA VARIABLES CUANTITATIVAS
#filtro por comparacion
filtro6=df[df["Periodo"] >= 2006] #Este no salió
filtro6

In [ ]:
#FILTROS BASICOS CON CONETOS LOGICOS
#filtro Y
filtro7=df[(df["Periodo"] >2006)&(df["Sexo"] == "Mujeres")]#este no salió
filtro7

In [ ]:
#filtro O
filtro8=df[(df["Periodo"] >2006)|(df["Sexo"] == "Hombre")]#este no salió
filtro8

In [ ]:
#filtro not
filtro9=df[~(df["Periodo"] >2006)&(df["Sexo"] == "Mujeres")]#este no salió
filtro9

In [ ]:
#Convertir archivo filtrado a CSV
filtro9.to_csv("Entregable1.csv")

In [ ]:
#Descargar archivo filtrado en CSV
from google.colab import files

files.download("Entregable1.csv")